<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated metamodel_v2 -->
      <package
            uri="sew569_v2"
            class="sew569_v2.Sew569_v2Package"/>
   </extension>

</plugin>
